/com.weather.streamsx.tupletocassandra/.metadata
# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
/lib
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# IntelliJ
.idea
/project/target
/project/project



/lib/com.ibm.streams.operator.jar
*.iml

# Eclipse
*.metadata

/src/main/resources/etc/streams.conf
impl/java/bin/*.jar

com.weather.streams.cassandra
impl/
toolkit.xml
src/main/resources/etc/streams.conf
